<%- include("partials/header"); -%>
<!-- <h1>Contact</h1> -->
<%- include("partials/footer"); -%>



<div class="box-click">
  <h3>*MyTutor*</h3>
  <h1><strong>Which <em class="em-colur"> subject </em> would you like help with?</strong></h1>
  <div class="btns">
    <!-- <button class="btn  btn-outline-#5f9ea0">button</button> -->
    <!-- <button class="btn btn-dark">button</button> -->
    <button type="button" class="btn btn-outline-light" onclick="location.href='/level';">  <i class="icon fa fa-plus-circle  fa-4x" aria-hidden="true"></i><br><strong>MATHS</strong></button>
    <button type="button" class="btn btn-outline-light" onclick="location.href='/level';"><i class="icon fa fa-magic fa-4x "></i><br><strong>BIOLOGY</strong></button>
    <button type="button" class="btn btn-outline-light" onclick="location.href='/level';"><i class="icon fa fa-flask fa-4x"></i><br><strong>CHEMISTRY</strong></button>
    <button type="button" class="btn btn-outline-light" onclick="location.href='/level';"><i class="icon fa fa-folder-open fa-4x"></i><br><strong>ENGLISH</strong></button>
    <button type="button" class="btn btn-outline-light" onclick="location.href='/level';"><i class="icon fa fa-plane fa-4x"></i><br><strong>PHYSICS</strong></button>
  </div>
  <div class="tim-mid">
  <p><em>We’ll select tutors who specialise in your chosen subjects (with A/A*’s to show for it!).</em></p>
   </div>
  </div>

