<%- include("partials/header"); -%>
<!-- <h1>Contact</h1> -->
<%- include("partials/footer"); -%>

<div class="box-click">
    <h3>*MyTutor*</h3>
    <h1><strong>And what’s your <em class="em-colur">full name? </em></strong></h1>
    <div class="btns">
        <form class="stu" action="/" method="post">
       
            <div class="form-group">
              
              <input type="text" class="BTNS-button" name="fname" placeholder="Type your first and last name">
            </div>
            <button type="button" class="BTNS btn-light"  onclick="location.href='/DateOfBirth';"><strong>NEXT</strong></button>
            </form>
        
     
    </div>
    <div class="tim-mid">
    <p><em>We’ll select tutors who specialise in your chosen subjects (with A/A*’s to show for it!).</em></p>
     </div>
    </div>