<%- include("partials/header"); -%>
<!-- <h1>Contact</h1> -->
<%- include("partials/footer"); -%>

<div class="box-click">
    <h3>*MyTutor*</h3>
    <h1><strong>And which <em class="em-colur"> level </em> are you looking for?</strong></h1>
    <div class="btns">
<button type="button" class="BTNS btn-outline-light"  onclick="location.href='/customer';" ><strong>11 PLUS</strong></button>
<button type="button" class="BTNS btn-outline-light"  onclick="location.href='/customer';"><strong>13 PLUS</strong></button>
</div>
<div class="tim-mid">
<p><em>We’ll select tutors who specialise in your chosen subjects (with A/A*’s to show for it!).</em></p>
 </div>
</div>