<%- include("partials/header"); -%>

<%- include("partials/footer"); -%>


<div class="jumbotron text-center">
    <div class="conta">
      <i class="fas fa-regular fa-screen-users fa-6x"></i>
      <!-- <i class="fas fa-key fa-6x"></i> -->
      <h1 class="display-3">Sign Up as Student / Tutor</h1>
      <p class="secret-text">Find My Tutor</p>
      <hr>
      
      <a class="btn btn-dark btn-lg" href="/student" role="button">Sign Up as Student</a>
      <a class="btn btn-dark btn-lg" href="/teacher" role="button">Sign Up as Tutor</a>
    </div>
  </div>

  <section id="title-home">
    <div class = "container-home">
  <div class="row">
    <div class="col-lg-6">
      <h1>Find My Tutor</h1>
      <p>Tutors Talk is a revolutionary platform that brings together students and tutors to drive academic excellence. We welcome qualified, professional tutors from all around the world who have the skills, expertise and knowledge to help students score higher ranks and better grades with less stress.</p>
      <p>We are your number one source to the best tutors who are expertly matched to suit your preference and style. </p>
      
    </div>
    <div class = "col-lg-6">
  
  
      <footer id="footer">
        <a href="https://www.facebook.com/login/"><i class="social-icon fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/i/flow/login"><i class="social-icon fab fa-twitter-square"></i></a>
        <a href="https://www.instagram.com/"><i class="social-icon fab fa-instagram"></i></a>
       
      </footer>
      <a href="mailto:nayaksakshi359@gmail.com">Ⓜ️Sakshi_Nayak</a> <hr>
        <a href="mailto:aditisharma2642@gmail.com">Ⓜ️Aditi_sharma</a> 
      <!-- <div class="email">
        <a href="#mid">About us</a><br>
        <hr> <a href="#testimonials">test</a>
            <hr><a href="#title-fluid">Contact us</a><br>
          
      </div> -->
    </div>
  </div>
  </div>
  </section>