<%- include("partials/header"); -%>

<%- include("partials/footer"); -%>

<!-- <div class="jumbotron text-center">
    <div class="container">
      <img src="img/Untitled.png" alt="" width="20%;">
      <h1 class="display-3">You've Discovered My Secret!</h1>
      <p class="secret-text">Jack Bauer is my hero.</p>
      <hr>
      
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div> -->

  <div class="img-center">
    <div class="imges">
    <img src="img/Untitled.png" alt="" width="30%;">
</div>
<div class="text-center">
<h1>Account Successfully Created</h1>
<p>You have successfully completed your Sign Up. We have sent you an email with the verfication link to activate your account.</p>
</div>
</div>
